

.all-wedding {
    text-align: center;
  }
  
  .all-wedding h2 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #50705B;
  }
  
  .service-description h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 30px;
  }

.all-text{
  font-size: 20px;
}
  
 .all-wedding-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  
  .image-element {
    width: 500px;
    height: 730px;
    object-fit: cover;
  }
  .image-element2{
    width: 290px;
    height: 300px;
    object-fit: cover;
    margin: 10px 0px;
  }
  .image-wrapper-type{
    display: flex;
    
    width: 1200px;
    justify-content: space-between;
  }
  
  
  .service-description li {
margin-bottom: 12px;
list-style: none;
  }

  .icon {
    color: green; /* Couleur de l'icône */
    margin-right: 10px;
  }
  
  .service-description{
    width: 600px;
  }

  .name-vertical-allWedding{
    writing-mode: vertical-rl; /* Cette propriété spécifie l'écriture verticale de droite à gauche */
    transform: rotate(180deg);
    letter-spacing: 0.4em;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    font-size: 12px;
  }
  .nameVertical-allWedding-listWrapper ul {
    text-align: left;
    padding: 0px 0px 0px 20px ;
    list-style: none;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nameVertical-allWedding-listWrapper{
    display: flex;
    height: auto; 
  }

  .nameVertical3-allWedding-listWrapper{
    display: flex;
    height: auto; 
  }
  .nameVertical3-allWedding-listWrapper ul {
    text-align: left;
    padding: 0px 0px 0px 20px ;
    list-style: none;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .name-vertical3-allWedding{
    writing-mode: vertical-rl; /* Cette propriété spécifie l'écriture verticale de droite à gauche */
    transform: rotate(180deg);
    letter-spacing: 0.4em;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    font-size: 12px;
  }