/* BackGround.scss */
.background-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Assurez-vous que le contenu en dehors du viewport est caché */
  background-position:top;
}

.background-image {
 background-position:top;
}