.aroundWedding-previewFormules-container{
    margin-top: 40px;
    gap: 20px;
}
.proposition-formule{
    font-size: 22px;
    line-height: 200%;
    text-align: center;
}
.proposition-container{
    display: flex;
    justify-content: center;
}

.weight-text{
    font-weight: 600;
    color: rgb(79, 79, 79);
}