.aroundWedding-previewFormules-container{
    margin-top: 40px;
    gap: 20px;
}
.proposition-formule{
    font-size: 22px;
    line-height: 200%;
}
.proposition-container{
    display: flex;
    justify-content: center;
}