.formules-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
  width: 100%;
  max-width: 1200px;
}
.home-link {
  font-size: 20px;
}

.arrow-image{
    width: 50px;
}
.home-link{
    text-decoration: none;
    color: blue;
}

