@import 'Main';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: #ebcfd168;
    .Laboinspi-logo{
        width: 320px;
    }
    .nav-bar {
       
        width: 200px;
        max-width: 100%;
        gap: 1em;

        ul{
        list-style: none;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        }

        li>a {
            text-decoration: none;
            color: $primary-color;

        }
    }
}

.insta-icone{
    width: 45px;
}
.pinterest-icone{
    width: 35px;
}
