

.inspiration-wedding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inspiration-banner {
  position: relative;
  width: 100%;
  max-width: 1700px;
  height: 550px;
}

.inspiration-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  border-radius: 10px;
}

.inspiration-banner p {
 background-color: rgba(0, 0, 0, 0.2);
 backdrop-filter: blur(5px);
  padding: 20px;
  color: #F4F4F4;
  font-size: 27px;
  text-align: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 80%; 
  box-sizing: border-box;
}
.inspiration-banner p::before{
  z-index: -1;
}
  
  .inspiration-wedding h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #50705B;
    text-align: center;
  }
  .inspiration-title-wrapper{
    position: relative;
    margin-bottom: 50px;
  }
  .formule-title {
    font-size: 50px;
    font-weight: 300;
    margin: 0px auto;
    margin-top: 40px;
    text-align: center;
    color: #F4F4F4;
    position: relative; /* Pour contenir le ::before */
  }

  .formule-title-container {
    position: relative;
  }

  .formule-title-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    background-color: #EEAC8E;
    filter: blur(5px); /* Ajoute le filtre de flou */
    z-index: -1;      
  }

  .inspiration-wedding > p {
    font-size: 20px;
    font-weight: 300;
    margin: 40px auto;
    width: 1000px;
  }
  
 .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto ;
    margin-bottom: 40px;
  }
  
  .image-container {
    width: 100%;
    max-width: 500px;
    height: 710px;
    object-fit: cover;
  }
  
  .service-description h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .descriptif-complet-inspiration ul {
    list-style-type: disc;
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    list-style: none;
  }
  .descriptif-complet-inspiration p {
font-size: 20px;
  }
  .descriptif-complet-inspiration h3{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  .descriptif-complet-inspiration li {
margin-bottom: 30px;
list-style: none;
  }

  .icon {
    color: green; /* Couleur de l'icône */
    margin-right: 10px;
  }
  
  .service-description-text{
    display: flex;
    font-size: 22px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    line-height: 200%;
  }
  .inspiration-service-description{
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
  }

  .descriptif-complet-inspiration{
    background-color: #F4F4F4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    text-align: center;
    border-radius: 5px;
  }
  .image-galerie {
    width: 270px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ajoute une ombre légère */
  }
  .image-galerie-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 1200px;
  }

