.inspiration-banner img{
  width: 100%;
  max-width: 1700px;
  height:600px;
  object-fit: cover;
 filter: brightness(50%);
}
.inspiration-banner P{
  position: absolute;
  top: 300px;
  right: 300px;
  width: 100%;
  max-width: 1200px;
  color: #F4F4F4;
  font-size: 30px;
}

.inspiration-wedding {
  text-align: center;
}
  
  .inspiration-wedding h2 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 40px;
    color: #50705B;
  }
  .inspiration-title-wrapper{
    position: relative;
    margin-bottom: 50px;
  }
  .formule-title {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    color: #F4F4F4;
  }

  .formule-title-container::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 777px;
    right: 777px;
    bottom: 0px;
    background-color: #EEAC8E;
    filter: blur(5px); /* Ajoute le filtre de flou */
    z-index: -1;
  }

  .inspiration-wedding > p {
    font-size: 20px;
    font-weight: 300;
    margin: 40px auto;
    width: 1000px;
  }
  
 .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .image-container {
    width: 500px;
    height: 710px;
    object-fit: cover;
  }
  
  .service-description h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .descriptif-complet-inspiration ul {
    list-style-type: disc;
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    list-style: none;
  }
  .descriptif-complet-inspiration p {
font-size: 20px;
  }

  .service-description li {
margin-bottom: 10px;
list-style: none;
  }

  .icon {
    color: green; /* Couleur de l'icône */
    margin-right: 10px;
  }
  
  .service-description-text{
    display: flex;
    font-size: 20px;
    text-align: center;
    margin: 30px;
    line-height: 200%;
  }
  .service-description{
    margin: 0 auto;
  }

  .descriptif-complet-inspiration{
    background-color: #F4F4F4;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .image-galerie {
    width: 270px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ajoute une ombre légère */
  }
  .image-galerie-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 1200px;
  }

  .HomeWrapper{
    width: 1440px;
  }