

.inspiration-wedding {
  text-align: center;
}
  
  .inspiration-wedding h2 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .inspiration-title-wrapper{
    position: relative;
  }
  .formule-title {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    color: #F4F4F4;
  }

  .formule-title-container::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 400px;
    right: 400px;
    bottom: 0px;
    background-color: #EEAC8E;
    filter: blur(5px); /* Ajoute le filtre de flou */
    z-index: -1;
  }

  .inspiration-wedding > p {
    font-size: 20px;
    font-weight: 300;
    margin: 40px auto;
    width: 1000px;
  }
  
 .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  
  .image-container {
    width: 500px;
    height: 600px;
    object-fit: cover;
  }
  
  .service-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service-description ul {
    list-style-type: disc;
    text-align: left;
    
    margin-bottom: 20px;
    margin-top: 40px;
    list-style: none;
    font-size: 20px;
  }
  .service-description li {
margin-bottom: 10px;
list-style: none;
  }

  .icon {
    color: green; /* Couleur de l'icône */
    margin-right: 10px;
  }
  
  .service-description-text{
    font-size: 20px;
    width: 100%;
    margin: 30px;
  }
  .service-description{
    width: 600px;
  }

  .descriptif-complet{
    background-color: #F4F4F4;
    padding: 10px;
  }
  .image-galerie {
    width: 270px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ajoute une ombre légère */
  }
  .image-galerie-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 1200px;
  }