.portrait{
    width: 25%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}
.bio-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
 .texte-bio{
    width: 600px;
    line-height: 200%;
    font-size: 18px;
    font-family: montserrat;
    font-weight: 300;
 }
 .colored-text {
  color: orange; 
  font-weight: 400;
  font-family: montserrat;
}
  

 