

.prepare-wedding {
    text-align: center;
  }
 

  .prepare-title-container{
    position: relative;
  }
  .prepare-title {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    color: #F4F4F4;
  }

  .prepare-title-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 400px;
    right: 400px;
    bottom: 0px;
    background-color: #EEAC8E;
    filter: blur(5px); /* Ajoute le filtre de flou */
    z-index: -1;
  }
  
  .prepare-wedding h2 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #50705B;
  }
  
  .prepare-wedding h3 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
  }

  
 .prepare-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .prepare-image-container {
    width: 550px;
    height: 750px;
    object-fit: cover;
  }
  .prepare-text p{
    font-size: 20px;
  }
  
  .service-description h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
 
  .name-vertical{
    writing-mode: vertical-rl; /* Cette propriété spécifie l'écriture verticale de droite à gauche */
    transform: rotate(180deg);
    letter-spacing: 0.4em;
    height: 240px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
  }

  .nameVertical-listWrapper{
    display: flex;
    height: auto; 
  }
  
  .nameVertical-listWrapper ul {
    text-align: left;
    padding: 0px 0px 0px 20px ;
    list-style: none;
    margin: 0;
    font-size: 18px;
  }
  .service-description li {
margin-bottom: 10px;
list-style: none;
  }

  .icon {
    color: green; /* Couleur de l'icône */
    margin-right: 10px;
  }
  
 

  .descriptif-complet{
    background-color: #F4F4F4;
    padding: 10px;
  }

  .galerie-container{
display: flex;
justify-content:space-between ;
  }
  .prepare-image-galerie{
width: 300px;
height: 300px;
object-fit: cover;
margin: 10px;
  }



