/* Styles de base du bouton */
.formules-wrapper {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-content: center;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.formule-element {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  z-index: 0;
  display: inline-block;
  text-align: center;
  width: calc(33.33% - 10px);
  margin: 0;
  padding: 0;
  position: relative;
}

.formule-element .formule-text {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-60%);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 25px;
  width: 200px;
  white-space: nowrap;
  font-style: italic;
  transition: opacity 0.3s, visibility 0.3s; 
  opacity: 0; /* Masquer le texte par défaut */
  visibility: hidden; /* Masquer le texte par défaut */
}

.formule-element::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 97%;
  border: 5px solid transparent; 
  z-index: 1;
  transition: border 0.3s; 
}


.formule-image {
  width: 100%;
  max-width: 330px;
  height: auto; 
  max-height: 230px;
  object-fit: cover;
  border-radius: 15px;
  transition: filter 0.3s;
}

.formule-element:hover .formule-image {
  filter: brightness(0.5); 
  opacity: 1;
  visibility: visible;
}
.formule-element:hover .formule-text {
  opacity: 1; /* Afficher le texte au hover */
  visibility: visible; /* Afficher le texte au hover */
}