@import 'Main';

@media only screen and (max-width : 1000px) {
  .Home {
    margin: 0 auto;
    width: 100%;

    .HomeWrapper {
      max-width: 90%;
      gap: 20px;
      margin: 40px auto;
    }
  }

  /*Header*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .Kasa-logo {
      height: 10vmin;
    }

    .nav-bar {
      display: flex;
      list-style-type: none;
      gap: 1em;
      font-size: 20px;
    }
  }

  /*Hero*/
  .hero-banner {
    display: flex;
    width: 100%;
    max-width: 100%;
    position: relative;

    .hero-creek {
      object-fit: cover;
      object-position: 100% 55%;
      width: 100%;
      max-width: 100%;
      height: 111px;
      border-radius: 10px;
      filter: brightness(0.7);
    }

    .hero-title {
      font-size: 1.5em;
      line-height: 24px;
      max-width: 217px;
      font-weight: 300;
    }
  }

  /*Cards*/
  .logements-wrapper {
    gap: 20px;
    justify-content: space-between;
  }

  .article-cards {
    width: 48%;
  }

  .cards img {
    width: 100%;
    max-width: inherit;
    height: 100%;
    max-height: inherit;
    position: relative;
    filter: brightness(0.8);
    border-radius: 10px;
    object-fit: cover;
  }

  .cards h2 {
    width: 100%;
    max-width: 240px;
    height: 52px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    position: absolute;
    transform: translate(5%, -150%);
    display: flex;
    text-align: left;
    color: white;
  }

  /**House**/
  .houseWrapper .house {
    gap: 30px;
  }



  /*about*/
  .about-wrapper .about {
    width: 90%;
  }

}

@media only screen and (max-width : 576px) {
  .Home {
    margin: 0 auto;
    width: 100%;
  }

  .HomeWrapper {
    max-width: 90%;
    gap: 20px;
  }


  /*Header*/
  header .Kasa-logo {
    height: 30px;
    width: 100px;
    pointer-events: none;
  }

  header .nav-bar {
    display: flex;
    list-style-type: none;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 12px;
    width: 150px;
    max-width: 100%;
  }

  /*Hero*/
  .hero-banner .hero-creek {
    object-fit: cover;
    object-position: 100% 55%;
    width: 100%;
    max-width: 100%;
    height: 111px;
    border-radius: 10px;
    filter: brightness(0.7);
  }

  .hero-banner {
    display: flex;
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .hero-banner .hero-title {
    font-size: 1em;
    line-height: 24px;
    max-width: 217px;
    font-weight: 300;
    top: 45%;
    width: 150px;
  }

  /*Cards*/
  .logements-wrapper {
    gap: 20px;
  }

  .cards img {
    width: 100%;
    max-width: inherit;
    height: 100%;
    max-height: inherit;
    position: relative;
    filter: brightness(0.8);
    border-radius: 10px;
    object-fit: cover;
  }

  .cards h2 {
    width: 100%;
    max-width: 200px;
    height: 52px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    position: absolute;
    transform: translate(5%, -150%);
    display: flex;
    text-align: left;
    color: white;
  }

  .article-cards {
    width: 100%;
  }

  /**House**/
  .houseWrapper {
    max-width: 100%  !important;
    width: 1440px !important;
    margin: 0px !important;
  }

  .house {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    width: 90% !important;
    padding: 0!important;
    margin: 20px auto !important;

  }

  /*Slider*/


  .slider-image-container .slider-image {
    max-width: 100%;
    max-height: 255px;
    border-radius: 25px;
    object-fit: cover;
  }

  .hero-slider button {
    background: none;
    border: none;

  }

  .previous-slider {
    position: absolute;
    top: 30%;
    right: 84%;
  }

  .previous-slider .previous-img {
    min-width: 20px;
    width: 80%;
    min-height: 40px;
    height: 80%;
  }

  .next-slider {
    position: absolute;
    top: 30%;
    left: 84%;
  }

  .next-slider .next-img {
    min-width: 20px;
    width: 80%;
    min-height: 40px;
    width: 80%;
  }

  .compteur-frame {
    right: 50%;
    top: 80% !important;
    color: white;
    font-weight: 500;
    line-height: 26px;
    size: 18px;
  }

  /*House Description*/

  .property-description .title-rating-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .title-location-wrapper>h2 {
    font-size: 18px !important;
    line-height: 25px !important;
  }

  .title-location-wrapper p {
    color: #FF6060;
  }

  .title-rating-wrapper .rate-tag-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .tags-wrapper .tag {
    display: inline-block;
    border-radius: 15px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #FF6060;
    color: white;
    font-size: 10px;
  }

  .tags-wrapper {
    gap: 10px;
  }

  .rating {
    display: flex;

  }

  .title-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .host-name-wrapper img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  .host-name-wrapper p {
    color: #FF6060;
    max-width: 90px;
  }

  .description-equip-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }

  .button-info .button-title {
    font-size: 13px;
  }

  .description-wrapper .button-info {
    width: 100%;
    max-width: 100%;
    height: 30px;
  }

  .button-equipments h3 {
    margin: 0;
  }

  .button-description h3 {
    margin: 0;
  }

  .equipement-info {
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FF6060;
    font-size: 18px;
  }

  .content-item {
    margin: 15px;
    color: #FF6060;
    font-size: 18px;

  }

  .description-equip-wrapper .description-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }



  /*animation slide box*/
  /*house description*/


  /*A propos*/
  #root .about-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .about-wrapper .about {
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
  }

  .description-wrapper-apropos {
    gap: 20px;
  }

  .wrapper-description-button .button-description-apropos {
    width: 100%;
  }

  .button-description-apropos .description-title {
    font-size: 20px;
    max-width: 100%;
  }

  .description-wrapper-apropos p {
    font-size: 16px;
    max-width: 100%;

  }

  .description-about {
    width: 100%;
    max-width: 100%;
  }

  .content-item-about {
    max-width: 100%;
    line-height: 20px;
  } 
  
  /**Error**/
  .wrapper-error-elements {
  margin-bottom: 40px; 
  margin-top: 40px;
  gap: 40px;

}

.wrapper-error-elements h2 {
    font-size: 100px !important;
  }
} 

 
