.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    

    .title-main{
        font-size: 82px;
        width: 100%;
        margin: 10px 0px 0px 0px;
        line-height: 110%;
        font-family: junge;
        font-weight: 400;
        color: #50705B;
        
    }
    .title-second {
        font-size: 34px;
        font-weight: 300;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .separator{
        width: 20%;
       
    }
}