.photo-table{
    width: 40%;
    height: 600px;
    object-fit: cover;
    margin-top: 20px;
}
.designer-wrapper{
    .element-title{
        font-size: 56px;
        text-align: center;
        font-weight: 300;
        color: #50705B;
        margin: 40px 0px 40px 0px;
       
        
    }
    .designer-container{
    display: flex;
    gap: 15px;
    justify-content: center;
    
    .designer-text{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    padding-right: 50px;
    font-size: 20px;
    line-height: 200%;
}
}
    
}

